@model eActivities.Models.DayTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DayTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleManager.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTracker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTracker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialTargetDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialTargetDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
